#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: yellow;
}

h1 {
  color: #de006f;
}

header {
  background-color: yellow;
  border: 2px solid #de006f;
}

li {
  list-style: none;
}
